body {
    background-image: url("/imagens/espaco.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: auto;
}
.astronauta {
    text-align: center;
}