body {
    background-color: black;
    background-image: url('/imagens/espaco.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: auto;
    height: 100vh;
}
.astronauta {
    text-align: center;
    margin: auto;
}
.text {
    display: block;
    margin: auto;
    background-color: white;
    padding-bottom: 10000px;
    max-width: 900px;
}