body {
    background-color: black;
    background-image: url('/imagens/espaco.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.astronauta {
    text-align: center;
    margin: auto;
}