/* Versão Mobile First */
/*  pequenas telas: > 600px  */
/*  Celular: 600px > 768px  */
/*  Tablet 768px > 992px  */
/*  Desktop 992px > 1200px  */
/*  Grandes telas > 1200px*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: white;
    width: 400px;
    margin: auto;
}

header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

header > #burger {
    background-color: rgb(143, 16, 16);
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}

menu#itens {
    display: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    color: red;
}

#img-creative {
    background: url(/projeto-hero-alom-it/imagens/criativo.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 150px;
    background-size: contain;
    padding-bottom: 210px;
}

#img-creative > div > h1 {
    font-size: 32px;
    color: white;
    text-shadow: 1px 1px 3px rgb(146, 0, 0); 
}

#img-creative > div > p {
    font-size: 16px;
    color: rgb(31, 31, 31)
}

#links-3 {
    text-align: center;
}

#services {
    padding-top: 20px;
}

#service-text {
    width: 100px;
    height: 100px;
    font-size: 10px;
    display: inline-block;
}

#service-text > h5 {
    color: red;
}

#image-style-1 {
    background: url(/projeto-hero-alom-it/imagens/woman.png);
    background-size: contain;
    background-position: center;
    width: 125px;
    height: 125px;
    display: inline-block;
}

#image-style-2 {
    background: url(/projeto-hero-alom-it/imagens/team-development.png);
    background-size: contain;
    background-position: center;
    width: 125px;
    height: 125px;
    display: inline-block;
}

#about-us {
    padding-top: 20px;
}

#image-about-us {
    background: url(/projeto-hero-alom-it/imagens/about-us.png);
    width: 210px;
    height: 210px;
    background-position: center center;
    background-size: contain;
    display: inline-block;
}

#about-us-text {
    width: 150px;
    height: 200px;
    display: inline-block;
}

#about-us-text > h1 {
    font-size: 16px;
}

#about-us-text > h3 {
    font-size: 8px;
    color: red;
}

#about-us-text > p {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#about-us-text > li {
    font-size: 10px;
    padding-bottom: 10px;
}

#link-2 {
    background-color: rgb(170, 22, 22);
    width: 100px;
    height: 20px;
    padding: 2px;
    text-align: center;
}

#link-2 > a {
    color: white;
    font-size: 10px;
}

#link-2:hover {
    background-color: rgb(255, 0, 0);
}

#quote {
    padding-top: 30px;
}

#image-quote {
    padding-top: 100px;
    background: url(/projeto-hero-alom-it/imagens/about-project.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    width: 400px;
    height: 125px;
}

#image-quote > div > h1 {
    padding-top: 45px;
    width: 155px;
    color: white;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-align: center;
    
}
